@tailwind base;
@tailwind components;
@tailwind utilities;



.dropdown-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
}
.group:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #ffffff00;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000;
}